---
import Base from '@layouts/Base.astro';
import Page from '@layouts/Page.astro';
---

<Base meta_title="About">
  <Page title="About US">
    <p>
      <span style="color: red;"><a href="https://CodersHeart.in">CodersHeart.in</a></span> is a community blog for developers, created and maintained by a passionate group of five: 
      <span style="color: red;">Debasis, Chiranjibi, Dibya, Dushmant, and Anshuman</span>. Our mission is to foster a vibrant developer community by providing a
      platform to share knowledge, insights, and experiences on the latest advancements in the programming world.
    </p>
    <h3>About the Team:</h3>
    <p>
      The <span style="color: red;"><a href="https://CodersHeart.in">CodersHeart.in</a></span> team is a group of enthusiastic individuals with a shared passion for technology and
      development. We come from diverse backgrounds and experiences, but we are united by our desire to learn, grow, and
      contribute to the developer community.
    </p>
    <div style="display: flex; justify-content: center;">
      <div style="width: 100px;height: 100px;justify-content: center; display: flex; flex-direction: column;">
        <img src="https://i.imgur.com/m1V8jYF.png" alt="" style="margin: 0;">
        <p style="text-align: center;margin: 0;">Chiranjibi</p>
      </div>
      <div style="width: 100px;height: 100px;justify-content: center; display: flex; flex-direction: column;">
        <img src="https://i.imgur.com/foccMQo.png" alt="" style="margin: 0;">
        <p style="text-align: center;margin: 0;">Debasis</p>
      </div>
      <div style="width: 100px;height: 100px;justify-content: center; display: flex; flex-direction: column;">
        <img src="https://i.imgur.com/WwTGNbI.png" alt="" style="margin: 0;">
        <p style="text-align: center;margin: 0;">Dibya</p>
      </div>
      <div style="width: 100px;height: 100px;justify-content: center; display: flex; flex-direction: column;">
        <img src="https://i.imgur.com/0CBYrQA.png" alt="" style="margin: 0;">
        <p style="text-align: center;margin: 0;">Dusmanta</p>
      </div>
      <div style="width: 100px;height: 100px;justify-content: center; display: flex; flex-direction: column;">
        <img src="https://i.imgur.com/Yb48lko.png" alt="" style="margin: 0;">
        <p style="text-align: center;margin: 0;">Anshuman</p>
      </div>
    </div>
    <h3>Disclaimers:</h3>
    <p>
      The views expressed on this blog are those of the individual authors and do not necessarily reflect the official
      policy or position of <span style="color: red;"><a href="https://CodersHeart.in">CodersHeart.in</a></span>. We strive to provide accurate and up-to-date information, but we cannot
      guarantee the accuracy of any content published on this blog. You agree to hold CodersHeart.in and its team
      members harmless from any claims or damages arising out of your use of the information on this blog. We reserve
      the right to edit or remove any content submitted to this blog at our discretion.
    </p>
    <h3>Copyright:</h3>
    <p>
      The content published on <span style="color: red;"><a href="https://CodersHeart.in">CodersHeart.in</a></span> is protected by copyright. You are free to share and reference our
      content, but please provide attribution back to <span style="color: red;"><a href="https://CodersHeart.in">CodersHeart.in</a></span>.
    </p>
    <p>
      We hope you find <span style="color: red;"><a href="https://CodersHeart.in">CodersHeart.in</a></span> to be a valuable resource for your development journey. Feel free to leave
      comments, ask questions, and engage in discussions on our blog posts. Let's learn and grow together!
    </p>
  </Page>
</Base>
